h1  {  
     font-family: fantasy;
        color:darksalmon;
        text-shadow: -4px 4px 6px dimgrey;
        position:relative;
        margin-left: 30%;      
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }
    
    nav {
        background-color:aliceblue
        color: white;
        padding: 10px;
        text-align: center;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row; /* Set the direction to column */
    }
    
    nav ul li {
        display: block; /* Set the display property to block */
        margin-bottom: 50px;
        margin-right: 150px;
        margin-left:100px;
    }
    section {
        padding: 20px;
        margin: 20px 0;
    }
    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    nav a:hover {
        color: #555;
    }
    
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
    }
    