h1  {   font-family: fantasy;
        color:darksalmon;
    }
body{
        background-image:  url("background.jpg");
        text-shadow: -4px 4px 6px dimgrey;
        background-size: 100%;
        background-repeat:no-repeat;
    }
  ul{
        font-size: large;
    }