
body 
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(https://t3.ftcdn.net/jpg/05/64/32/70/360_F_564327039_eHOuKCz4S0BZbVbLrdnIj4cSlZimBIe7.jpg);
    background-size:300px;
    z-index: 0;
    font-size: large;
    padding-top:100px;
    padding-left:100px;
    background-position: center;
    allign-items:center;
}
body::after {
    content: "";
    background-image: url('https://images.vexels.com/media/users/3/249551/isolated/preview/58aa71b6794d104248416a4fde06b691-pepperoni-pizza-cut-out.png');
    position: absolute;
    background-size: contain;
    z-index: 1;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-size: 20%; 
    background-repeat: no-repeat;
    background-position: right;
    allign-items:center;

}
table
{
    margin: 10;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    border-left: dotted;
    border-right:dotted;
}
th
{
    text-decoration:underline;
    background-color: bisque;
    font-style: italic;
}
td
{
    background-color: antiquewhite;
    border: none;
}